@tailwind base;
@tailwind components;
@tailwind utilities;
.barouter {
  border: solid grey thick;
  width: 100%;
}

.barinner {
  height: 20px;
  background: yellow;
  width: 0px;

  -transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
